<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   </sectionGroup>
    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    </sectionGroup>
  </configSections>
  <userSettings>
    <Brother.Tests.Selenium.Lib.Pages.BrotherOnline.BrotherOnlineHomePages>
      <setting name="LoginRegisterPage" serializeAs="String">
        <value>Sign in / Create an account</value>
      </setting>
      <setting name="RegistrationConfirmationPage" serializeAs="String">
        <value>Confirm your registration</value>
      </setting>
      <setting name="WelcomeBackPage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ProductRegistrationPage" serializeAs="String">
        <value>Register Your Device</value>
      </setting>
      <setting name="RegisterYourDevice" serializeAs="String">
        <value>Register Your Device</value>
      </setting>
      <setting name="BrotherEmailConfirmationPage" serializeAs="String">
        <value>Confirm Account Page</value>
      </setting>
      <setting name="BrotherIeHomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ActivateYourExtendedWarranty" serializeAs="String">
        <value>Activate Your Extended Warranty</value>
      </setting>
      <setting name="Basket" serializeAs="String">
        <value>Basket</value>
      </setting>
      <setting name="DeliveryAddressPage" serializeAs="String">
        <value>Delivery Address</value>
      </setting>
      <setting name="CheckOutOrderSummaryPage" serializeAs="String">
        <value>Summary</value>
      </setting>
      <setting name="OrderConfirmationPage" serializeAs="String">
        <value>Order Confirmation</value>
      </setting>
      <setting name="BillingAddressPage" serializeAs="String">
        <value>Billing</value>
      </setting>
      <setting name="PaymentPage" serializeAs="String">
        <value>Add payment method</value>
      </setting>
      <setting name="SavedPaymentDetails" serializeAs="String">
        <value>Saved Payment Methods</value>
      </setting>
      <setting name="MyPrintersAndDevices" serializeAs="String">
        <value>My Printers And Devices</value>
      </setting>
      <setting name="MyOrders" serializeAs="String">
        <value>My Order</value>
      </setting>
      <setting name="SignInPeferences" serializeAs="String">
        <value>My sign in preference</value>
      </setting>
      <setting name="OrderDetails" serializeAs="String">
        <value>Order Details</value>
      </setting>
      <setting name="MailinatorInboxPage" serializeAs="String">
        <value>[1] Mailinator - Free. Disposable. Email.</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Pages.BrotherOnline.BrotherOnlineHomePages>
    <Brother.Tests.Selenium.Lib.Pages.BrotherMainSite.MainSitePageTitles>
      <setting name="ProductSupplies" serializeAs="String">
        <value>Brother Original Supplies &amp; Accessories</value>
      </setting>
      <setting name="BrotherProducts" serializeAs="String">
        <value>Office Printers | Business Solutions | Supplies - Brother</value>
      </setting>
      <setting name="InkJetSuppliesPage" serializeAs="String">
        <value>Supplies | </value>
      </setting>
      <setting name="BrotherOriginalSuppliesPage" serializeAs="String">
        <value>Brother Original Supplies | Brother</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Pages.BrotherMainSite.MainSitePageTitles>
    <Brother.Tests.Selenium.Lib.Properties.MPSOne>
      <setting name="ProposalPageTitle" serializeAs="String">
        <value />
      </setting>
      <setting name="ExistOrganisationPageTitle" serializeAs="String">
        <value />
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.MPSOne>
    <Brother.Tests.Selenium.Lib.Pages.OmniJoin.OmniJoinPageTitles>
      <setting name="LandingPage" serializeAs="String">
        <value>Brother at your side</value>
      </setting>
      <setting name="FreeTrialPage" serializeAs="String">
        <value>Free Trial - </value>
      </setting>
      <setting name="TrialDownloadPage" serializeAs="String">
        <value>Download - </value>
      </setting>
      <setting name="PurchaseOptionsPage" serializeAs="String">
        <value>Plans - </value>
      </setting>
      <setting name="ContactUsPage" serializeAs="String">
        <value>Contact Us - </value>
      </setting>
      <setting name="BusinessPlanPage" serializeAs="String">
        <value>OmniJoin Professional - </value>
      </setting>
      <setting name="LitePlanPage" serializeAs="String">
        <value>OmniJoin Lite - </value>
      </setting>
      <setting name="ProfessionalPlanPage" serializeAs="String">
        <value>OmniJoin - </value>
      </setting>
      <setting name="FreeTrialPlanPage" serializeAs="String">
        <value />
      </setting>
    </Brother.Tests.Selenium.Lib.Pages.OmniJoin.OmniJoinPageTitles>
    <Brother.Tests.Selenium.Lib.Properties.HomePages>
      <setting name="LoginRegisterPage" serializeAs="String">
        <value>Sign in / Create an account</value>
      </setting>
      <setting name="RegistrationConfirmationPage" serializeAs="String">
        <value>Confirm your registration</value>
      </setting>
      <setting name="WelcomeBackPage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ProductRegistrationPage" serializeAs="String">
        <value>Register Your Device</value>
      </setting>
      <setting name="RegisterYourDevice" serializeAs="String">
        <value>Register Your Device</value>
      </setting>
      <setting name="BrotherEmailConfirmationPage" serializeAs="String">
        <value>Confirm Account Page</value>
      </setting>
      <setting name="BrotherIeHomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ActivateYourExtendedWarranty" serializeAs="String">
        <value>Activate Your Extended Warranty</value>
      </setting>
      <setting name="Basket" serializeAs="String">
        <value>My Basket</value>
      </setting>
      <setting name="DeliveryAddressPage" serializeAs="String">
        <value>Delivery Address</value>
      </setting>
      <setting name="CheckOutOrderSummaryPage" serializeAs="String">
        <value>Order Summary</value>
      </setting>
      <setting name="OrderConfirmationPage" serializeAs="String">
        <value>Order Confirmation</value>
      </setting>
      <setting name="BillingAddressPage" serializeAs="String">
        <value>Billing Address</value>
      </setting>
      <setting name="PaymentPage" serializeAs="String">
        <value>Add payment method</value>
      </setting>
      <setting name="SavedPaymentDetails" serializeAs="String">
        <value>Saved Payment Methods</value>
      </setting>
      <setting name="MyPrintersAndDevices" serializeAs="String">
        <value>My Printers And Devices</value>
      </setting>
      <setting name="MyOrders" serializeAs="String">
        <value>My Order</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.HomePages>
    <Brother.Tests.Selenium.Lib.Properties.SeleniumGlobal>
      <setting name="CurrentDriverType" serializeAs="String">
        <value>CH</value>
      </setting>
      <setting name="IEOptionsLog" serializeAs="String">
        <value>IEOptions.log</value>
      </setting>
      <setting name="BrotherEmailConfirmationUrl" serializeAs="String">
        <value>/Test/EmailConfirmationToken.aspx</value>
      </setting>
      <setting name="UsePhantomJsService" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="PhantomJSLoggingLevel" serializeAs="String">
        <value>ERROR</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.SeleniumGlobal>
    <Brother.Test.Selenium.Lib.Properties.SeleniumGlobal>
      <setting name="PhantomJS_Uri" serializeAs="String">
        <value>http://127.0.0.1:8080/wd/hub</value>
      </setting>
      <setting name="CurrentDriverType" serializeAs="String">
        <value>Chrome</value>
      </setting>
      <setting name="DriverPath" serializeAs="String">
        <value>C:\Projects\brother-online\Brother\brother\Main\Brother.Test.Selenium\Drivers</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.SeleniumGlobal>
    <Brother.Test.Selenium.Lib.Properties.HomePages>
      <setting name="LoginRegisterPage" serializeAs="String">
        <value>Sign in / Create an account</value>
      </setting>
      <setting name="RegistrationConfirmationPage" serializeAs="String">
        <value>Confirm your registration</value>
      </setting>
      <setting name="WelcomeBackPage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ProductRegistrationPage" serializeAs="String">
        <value />
      </setting>
      <setting name="OmniJoinLandingPage" serializeAs="String">
        <value>Brother at your side</value>
      </setting>
      <setting name="OmniJoinFreeTrialPage" serializeAs="String">
        <value>Free Trial</value>
      </setting>
      <setting name="RegisterYourDevice" serializeAs="String">
        <value>Register Your Device</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.HomePages>
    <Brother.Test.Selenium.Lib.Properties.BOLAccountMap>
      <setting name="LoginRegisterPage" serializeAs="String">
        <value>Sign in / Create an account</value>
      </setting>
      <setting name="RegistrationConfirmationPage" serializeAs="String">
        <value>Confirm your registration</value>
      </setting>
      <setting name="WelcomeBackPage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ProductRegistration" serializeAs="String">
        <value />
      </setting>
    </Brother.Test.Selenium.Lib.Properties.BOLAccountMap>
    <Brother.Test.Selenium.Lib.Pages.OmniJoin.LandingPageMap>
      <setting name="StartFreeTrialButton" serializeAs="String">
        <value>start your free trial</value>
      </setting>
      <setting name="LandingPageTitle" serializeAs="String">
        <value>afd - Brother at your side</value>
      </setting>
    </Brother.Test.Selenium.Lib.Pages.OmniJoin.LandingPageMap>
  </userSettings>
  <applicationSettings>
    <Brother.Tests.Selenium.Lib.Pages.BrotherOnline.BrotherOnlineHomePages>
      <setting name="HomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Pages.BrotherOnline.BrotherOnlineHomePages>
    <Brother.Tests.Selenium.Lib.Properties.MPSOne>
      <setting name="ContractPageTitle" serializeAs="String">
        <value />
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.MPSOne>
    <Brother.Tests.Selenium.Lib.Pages.OmniJoin.OmniJoinPageTitles>
      <setting name="HomePage" serializeAs="String">
        <value>OmniJoin Web Conferencing | Online Meetings | Brother UK - </value>
      </setting>
    </Brother.Tests.Selenium.Lib.Pages.OmniJoin.OmniJoinPageTitles>
    <Brother.Tests.Selenium.Lib.Properties.MPSTWOMAP>
      <setting name="PageTitle" serializeAs="String">
        <value>Brother Online</value>
      </setting>
      <setting name="NewProposalPageTitle" serializeAs="String">
        <value>Brother Online</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.MPSTWOMAP>
    <Brother.Tests.Selenium.Lib.Properties.Settings>
      <setting name="PromptText" serializeAs="String">
        <value>Brother Online</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.Settings>
    <Brother.Tests.Selenium.Lib.Properties.HomePages>
      <setting name="HomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.HomePages>
    <Brother.Tests.Selenium.Lib.Properties.SeleniumGlobal>
      <setting name="DriverIPAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="DriverPortNumber" serializeAs="String">
        <value>4444</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.SeleniumGlobal>
    <Brother.Test.Selenium.Lib.Properties.HomePages>
      <setting name="HomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.HomePages>
    <Brother.Test.Selenium.Lib.Properties.OmniJoinMap>
      <setting name="LandingPage" serializeAs="String">
        <value>Brother at your side</value>
      </setting>
      <setting name="FreeTrialPage" serializeAs="String">
        <value>Free Trial</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.OmniJoinMap>
    <Brother.Test.Selenium.Lib.Properties.OmnJoinMap>
      <setting name="StartFreeTrialButton" serializeAs="String">
        <value>start your free trial</value>
      </setting>
      <setting name="LandingPageTitle" serializeAs="String">
        <value>Brother at your side</value>
      </setting>
      <setting name="FreeTrialPageTitle" serializeAs="String">
        <value>Free Trial</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.OmnJoinMap>
    <Brother.Test.Selenium.Lib.Properties.SeleniumGlobal>
      <setting name="PhantomJSPath" serializeAs="String">
        <value>C:\Projects\brother-online\Brother\brother\Main\Brother.Test.Selenium\Drivers</value>
      </setting>
      <setting name="PhantomJS_IPAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="PhantomJS_PortNumber" serializeAs="String">
        <value>8080</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.SeleniumGlobal>
    <Brother.Test.Selenium.Lib.Properties.LandingPageMap>
      <setting name="StartFreeTrialButton" serializeAs="String">
        <value>start your free trial</value>
      </setting>
      <setting name="LandingPageTitle" serializeAs="String">
        <value>afd - Brother at your side</value>
      </setting>
      <setting name="FreeTrialPageTitle" serializeAs="String">
        <value>Free Trial</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.LandingPageMap>
    <Brother.Test.Selenium.Lib.Properties.BOLAccountMap>
      <setting name="HomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.BOLAccountMap>
    <Brother.Test.Selenium.Lib.Pages.OmniJoin.LandingPage>
      <setting name="StartFreeTrialButton" serializeAs="String">
        <value>start your free trial</value>
      </setting>
    </Brother.Test.Selenium.Lib.Pages.OmniJoin.LandingPage>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ImpromptuInterface" publicKeyToken="0b1781c923b2975b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>

