<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Brother.Tests.Selenium.Lib.Properties.MPSProd" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Properties.MPSQAS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Properties.MPSDV2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Pages.BrotherOnline.BrotherOnlineHomePages" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Properties.MPSOne" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Pages.BrotherMainSite.MainSitePageTitles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Pages.OmniJoin.OmniJoinPageTitles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Properties.HomePages" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Properties.SeleniumGlobal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.Properties.SeleniumGlobal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.Properties.HomePages" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.Properties.BOLAccountMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.Pages.OmniJoin.LandingPageMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.SeleniumGlobal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.SeleniumLib" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Brother.Tests.Selenium.Lib.Pages.BrotherOnline.BrotherOnlineHomePages" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Properties.MPSOne" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Pages.OmniJoin.OmniJoinPageTitles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Properties.MPSTWOMAP" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Properties.HomePages" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Tests.Selenium.Lib.Properties.SeleniumGlobal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.Properties.HomePages" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.Properties.OmniJoinMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.Properties.OmnJoinMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.Properties.SeleniumGlobal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.Properties.LandingPageMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.Properties.BOLAccountMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Test.Selenium.Lib.Pages.OmniJoin.LandingPage" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <Brother.Tests.Selenium.Lib.Properties.MPSProd>
      <setting name="ProdMPSDealer" serializeAs="String">
        <value>MPS-{0}-Prod-Dealer1@brother.co.uk</value>
      </setting>
      <setting name="ProdMPSLOApprover" serializeAs="String">
        <value>MPS-{0}-Prod-LOApprover@brother.co.uk</value>
      </setting>
      <setting name="ProdMPSLOAdmin" serializeAs="String">
        <value>MPS-{0}-Prod-LOAdmin@brother.co.uk</value>
      </setting>
      <setting name="ProdMPSBank" serializeAs="String">
        <value>MPS-{0}-Prod-Bank@brother.co.uk</value>
      </setting>
      <setting name="ProdDealerPassword" serializeAs="String">
        <value>{0}dealer1</value>
      </setting>
      <setting name="ProdLOApproverPassword" serializeAs="String">
        <value>{0}loapprover1</value>
      </setting>
      <setting name="ProdLOAdminPassword" serializeAs="String">
        <value>{0}loadmin1</value>
      </setting>
      <setting name="ProdBankPassword" serializeAs="String">
        <value>{0}leasingbank1</value>
      </setting>
      <setting name="ProdCustomerPassword" serializeAs="String">
        <value>P@$$w0rd</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.MPSProd>
    <Brother.Tests.Selenium.Lib.Properties.MPSQAS>
      <setting name="QASMPSDealer" serializeAs="String">
        <value>MPS-{0}-UAT-Dealer1@brother.co.uk</value>
      </setting>
      <setting name="QASMPSLOApprover" serializeAs="String">
        <value>MPS-{0}-UAT-LOApprover@brother.co.uk</value>
      </setting>
      <setting name="QASMPSLOAdmin" serializeAs="String">
        <value>MPS-{0}-UAT-LOAdmin@brother.co.uk</value>
      </setting>
      <setting name="QASMPSBank" serializeAs="String">
        <value>MPS-{0}-UAT-Bank@brother.co.uk</value>
      </setting>
      <setting name="QASDealerPassword" serializeAs="String">
        <value>{0}dealer1</value>
      </setting>
      <setting name="QASLOApproverPassword" serializeAs="String">
        <value>{0}loapprover1</value>
      </setting>
      <setting name="QASLOAdminPassword" serializeAs="String">
        <value>{0}loadmin1</value>
      </setting>
      <setting name="QASBankPassword" serializeAs="String">
        <value>{0}leasingbank1</value>
      </setting>
      <setting name="QASCustomerPassword" serializeAs="String">
        <value>P@$$w0rd</value>
      </setting>
      <setting name="QASUKCustomer" serializeAs="String">
        <value>lashonda20160322123145@mailinator.com</value>
      </setting>
      <setting name="QASDECustomer" serializeAs="String">
        <value>shane20160322135034@mailinator.com</value>
      </setting>
      <setting name="QASATCustomer" serializeAs="String">
        <value>Slater20160322133929@mailinator.com</value>
      </setting>
      <setting name="QASMPSServiceDesk" serializeAs="String">
        <value>MPS-{0}-UAT-ServiceDesk@brother.co.uk</value>
      </setting>
      <setting name="QASMPSUKServiceDeskCustomer" serializeAs="String">
        <value>lashonda20160322123145@mailinator.com</value>
      </setting>
      <setting name="QASMPSServiceDeskPassword" serializeAs="String">
        <value>{0}service1</value>
      </setting>
      <setting name="QASFRCustomer" serializeAs="String">
        <value>brady20160322142114@mailinator.com</value>
      </setting>
      <setting name="QASITCustomer" serializeAs="String">
        <value>delsie20160322121420@mailinator.com</value>
      </setting>
      <setting name="QASESCustomer" serializeAs="String">
        <value>kassie20160322140949@mailinator.com</value>
      </setting>
      <setting name="QASIRCustomer" serializeAs="String">
        <value>Ariana2016061114137@mailinator.com</value>
      </setting>
      <setting name="QASBECustomer" serializeAs="String">
        <value>Belkis20160718082850@mailinator.com</value>
      </setting>
      <setting name="QASSECustomer" serializeAs="String">
        <value>Mckenzie20160616191239@mailinator.com</value>
      </setting>
      <setting name="QASNLCustomer" serializeAs="String">
        <value>Vada20160524081137@mailinator.com</value>
      </setting>
      <setting name="QASDKCustomer" serializeAs="String">
        <value>Aurelio20160630151142@mailinator.com</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.MPSQAS>
    <Brother.Tests.Selenium.Lib.Properties.MPSDV2>
      <setting name="DV2MPSDealer" serializeAs="String">
        <value>MPS-{0}-DV2-Dealer1@mailinator.com</value>
      </setting>
      <setting name="DV2MPSLOApprover" serializeAs="String">
        <value>MPS-{0}-DV2-LOApprover@mailinator.com</value>
      </setting>
      <setting name="DV2MPSLOAdmin" serializeAs="String">
        <value>MPS-{0}-DV2-LOAdmin@mailinator.com
</value>
      </setting>
      <setting name="DV2MPSBank" serializeAs="String">
        <value>MPS-{0}-DV2-Bank@mailinator.com
</value>
      </setting>
      <setting name="DV2DealerPassword" serializeAs="String">
        <value>{0}dealer1</value>
      </setting>
      <setting name="DV2LOApproverPassword" serializeAs="String">
        <value>{0}loapprover1</value>
      </setting>
      <setting name="DV2LOAdminPassword" serializeAs="String">
        <value>{0}loadmin1</value>
      </setting>
      <setting name="DV2BankPassword" serializeAs="String">
        <value>{0}leasingbank1</value>
      </setting>
      <setting name="DV2MPSServiceDesk" serializeAs="String">
        <value>MPS-{0}-DV2-ServiceDesk@brother.co.uk</value>
      </setting>
      <setting name="DV2MPSServiceDeskPassword" serializeAs="String">
        <value>{0}service1</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.MPSDV2>
    <Brother.Tests.Selenium.Lib.Pages.BrotherOnline.BrotherOnlineHomePages>
      <setting name="LoginRegisterPage" serializeAs="String">
        <value>Sign in / Create an account</value>
      </setting>
      <setting name="RegistrationConfirmationPage" serializeAs="String">
        <value>Confirm your registration</value>
      </setting>
      <setting name="WelcomeBackPage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ProductRegistrationPage" serializeAs="String">
        <value>Register Your Device</value>
      </setting>
      <setting name="RegisterYourDevice" serializeAs="String">
        <value>Register Your Device</value>
      </setting>
      <setting name="BrotherEmailConfirmationPage" serializeAs="String">
        <value>Confirm Account Page</value>
      </setting>
      <setting name="BrotherIeHomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ActivateYourExtendedWarranty" serializeAs="String">
        <value>Activate Your Extended Warranty</value>
      </setting>
      <setting name="Basket" serializeAs="String">
        <value>Basket</value>
      </setting>
      <setting name="DeliveryAddressPage" serializeAs="String">
        <value>Delivery Address</value>
      </setting>
      <setting name="CheckOutOrderSummaryPage" serializeAs="String">
        <value>Summary</value>
      </setting>
      <setting name="OrderConfirmationPage" serializeAs="String">
        <value>Order Confirmation</value>
      </setting>
      <setting name="BillingAddressPage" serializeAs="String">
        <value>Billing</value>
      </setting>
      <setting name="PaymentPage" serializeAs="String">
        <value>Add payment method</value>
      </setting>
      <setting name="SavedPaymentDetails" serializeAs="String">
        <value>Saved Payment Methods</value>
      </setting>
      <setting name="MyPrintersAndDevices" serializeAs="String">
        <value>My Printers And Devices</value>
      </setting>
      <setting name="MyOrders" serializeAs="String">
        <value>My Order</value>
      </setting>
      <setting name="SignInPeferences" serializeAs="String">
        <value>My sign in preference</value>
      </setting>
      <setting name="OrderDetails" serializeAs="String">
        <value>Order Details</value>
      </setting>
      <setting name="MailinatorInboxPage" serializeAs="String">
        <value>[1] Mailinator - Free. Disposable. Email.</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Pages.BrotherOnline.BrotherOnlineHomePages>
    <Brother.Tests.Selenium.Lib.Pages.BrotherMainSite.MainSitePageTitles>
      <setting name="ProductSupplies" serializeAs="String">
        <value>Brother Original Supplies &amp; Accessories</value>
      </setting>
      <setting name="BrotherProducts" serializeAs="String">
        <value>Office Printers | Business Solutions | Supplies - Brother</value>
      </setting>
      <setting name="InkJetSuppliesPage" serializeAs="String">
        <value>Supplies | </value>
      </setting>
      <setting name="BrotherOriginalSuppliesPage" serializeAs="String">
        <value>Brother Original Supplies | Brother</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Pages.BrotherMainSite.MainSitePageTitles>
    <Brother.Tests.Selenium.Lib.Properties.MPSOne>
      <setting name="ProposalPageTitle" serializeAs="String">
        <value />
      </setting>
      <setting name="ExistOrganisationPageTitle" serializeAs="String">
        <value />
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.MPSOne>
    <Brother.Tests.Selenium.Lib.Pages.OmniJoin.OmniJoinPageTitles>
      <setting name="LandingPage" serializeAs="String">
        <value>Brother at your side</value>
      </setting>
      <setting name="FreeTrialPage" serializeAs="String">
        <value>Free Trial - </value>
      </setting>
      <setting name="TrialDownloadPage" serializeAs="String">
        <value>Download - </value>
      </setting>
      <setting name="PurchaseOptionsPage" serializeAs="String">
        <value>Plans - </value>
      </setting>
      <setting name="ContactUsPage" serializeAs="String">
        <value>Contact Us - </value>
      </setting>
      <setting name="BusinessPlanPage" serializeAs="String">
        <value>OmniJoin Professional - </value>
      </setting>
      <setting name="LitePlanPage" serializeAs="String">
        <value>OmniJoin Lite - </value>
      </setting>
      <setting name="ProfessionalPlanPage" serializeAs="String">
        <value>OmniJoin - </value>
      </setting>
      <setting name="FreeTrialPlanPage" serializeAs="String">
        <value />
      </setting>
    </Brother.Tests.Selenium.Lib.Pages.OmniJoin.OmniJoinPageTitles>
    <Brother.Tests.Selenium.Lib.Properties.HomePages>
      <setting name="LoginRegisterPage" serializeAs="String">
        <value>Sign in / Create an account</value>
      </setting>
      <setting name="RegistrationConfirmationPage" serializeAs="String">
        <value>Confirm your registration</value>
      </setting>
      <setting name="WelcomeBackPage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ProductRegistrationPage" serializeAs="String">
        <value>Register Your Device</value>
      </setting>
      <setting name="RegisterYourDevice" serializeAs="String">
        <value>Register Your Device</value>
      </setting>
      <setting name="BrotherEmailConfirmationPage" serializeAs="String">
        <value>Confirm Account Page</value>
      </setting>
      <setting name="BrotherIeHomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ActivateYourExtendedWarranty" serializeAs="String">
        <value>Activate Your Extended Warranty</value>
      </setting>
      <setting name="Basket" serializeAs="String">
        <value>My Basket</value>
      </setting>
      <setting name="DeliveryAddressPage" serializeAs="String">
        <value>Delivery Address</value>
      </setting>
      <setting name="CheckOutOrderSummaryPage" serializeAs="String">
        <value>Order Summary</value>
      </setting>
      <setting name="OrderConfirmationPage" serializeAs="String">
        <value>Order Confirmation</value>
      </setting>
      <setting name="BillingAddressPage" serializeAs="String">
        <value>Billing Address</value>
      </setting>
      <setting name="PaymentPage" serializeAs="String">
        <value>Add payment method</value>
      </setting>
      <setting name="SavedPaymentDetails" serializeAs="String">
        <value>Saved Payment Methods</value>
      </setting>
      <setting name="MyPrintersAndDevices" serializeAs="String">
        <value>My Printers And Devices</value>
      </setting>
      <setting name="MyOrders" serializeAs="String">
        <value>My Order</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.HomePages>
    <Brother.Tests.Selenium.Lib.Properties.SeleniumGlobal>
      <setting name="CurrentDriverType" serializeAs="String">
        <value>CH</value>
      </setting>
      <setting name="IEOptionsLog" serializeAs="String">
        <value>IEOptions.log</value>
      </setting>
      <setting name="BrotherEmailConfirmationUrl" serializeAs="String">
        <value>/Test/EmailConfirmationToken.aspx</value>
      </setting>
      <setting name="PhantomJSLoggingLevel" serializeAs="String">
        <value>ERROR</value>
      </setting>
      <setting name="BrowserStackUser" serializeAs="String">
        <value>anthowell1</value>
      </setting>
      <setting name="BrowserStackKey" serializeAs="String">
        <value>uu64dsphJt6uAyz6Kj8q</value>
      </setting>
      <setting name="BrowserStackHubUri" serializeAs="String">
        <value>http://hub.browserstack.com/wd/hub/</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.SeleniumGlobal>
    <Brother.Test.Selenium.Lib.Properties.SeleniumGlobal>
      <setting name="PhantomJS_Uri" serializeAs="String">
        <value>http://127.0.0.1:8080/wd/hub</value>
      </setting>
      <setting name="CurrentDriverType" serializeAs="String">
        <value>Chrome</value>
      </setting>
      <setting name="DriverPath" serializeAs="String">
        <value>C:\Projects\brother-online\Brother\brother\Main\Brother.Test.Selenium\Drivers</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.SeleniumGlobal>
    <Brother.Test.Selenium.Lib.Properties.HomePages>
      <setting name="LoginRegisterPage" serializeAs="String">
        <value>Sign in / Create an account</value>
      </setting>
      <setting name="RegistrationConfirmationPage" serializeAs="String">
        <value>Confirm your registration</value>
      </setting>
      <setting name="WelcomeBackPage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ProductRegistrationPage" serializeAs="String">
        <value />
      </setting>
      <setting name="OmniJoinLandingPage" serializeAs="String">
        <value>Brother at your side</value>
      </setting>
      <setting name="OmniJoinFreeTrialPage" serializeAs="String">
        <value>Free Trial</value>
      </setting>
      <setting name="RegisterYourDevice" serializeAs="String">
        <value>Register Your Device</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.HomePages>
    <Brother.Test.Selenium.Lib.Properties.BOLAccountMap>
      <setting name="LoginRegisterPage" serializeAs="String">
        <value>Sign in / Create an account</value>
      </setting>
      <setting name="RegistrationConfirmationPage" serializeAs="String">
        <value>Confirm your registration</value>
      </setting>
      <setting name="WelcomeBackPage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
      <setting name="ProductRegistration" serializeAs="String">
        <value />
      </setting>
    </Brother.Test.Selenium.Lib.Properties.BOLAccountMap>
    <Brother.Test.Selenium.Lib.Pages.OmniJoin.LandingPageMap>
      <setting name="StartFreeTrialButton" serializeAs="String">
        <value>start your free trial</value>
      </setting>
      <setting name="LandingPageTitle" serializeAs="String">
        <value>afd - Brother at your side</value>
      </setting>
    </Brother.Test.Selenium.Lib.Pages.OmniJoin.LandingPageMap>
    <Brother.Test.Selenium.Lib.SeleniumGlobal>
      <setting name="ChromeDriverService" serializeAs="String">
        <value>chromedriver.exe</value>
      </setting>
      <setting name="ChromeDriverPath" serializeAs="String">
        <value>C:\Projects\brother-online\Brother\brother\Main\Brother.UITests\Dependencies</value>
      </setting>
      <setting name="PhantomJSPath" serializeAs="String">
        <value>C:\Projects\brother-online\Brother\brother\Main\Brother.UITests\Dependencies</value>
      </setting>
      <setting name="PhantomJS_IPAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="PhantomJS_PortNumber" serializeAs="String">
        <value>8080</value>
      </setting>
    </Brother.Test.Selenium.Lib.SeleniumGlobal>
    <Brother.Test.Selenium.Lib.SeleniumLib>
      <setting name="ChromeDriverService" serializeAs="String">
        <value>chromedriver.exe</value>
      </setting>
      <setting name="ChromeDriverPath" serializeAs="String">
        <value>C:\Projects\brother-online\Brother\brother\Main\Dependencies\selenium</value>
      </setting>
    </Brother.Test.Selenium.Lib.SeleniumLib>
  </userSettings>
  <applicationSettings>
    <Brother.Tests.Selenium.Lib.Pages.BrotherOnline.BrotherOnlineHomePages>
      <setting name="HomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Pages.BrotherOnline.BrotherOnlineHomePages>
    <Brother.Tests.Selenium.Lib.Properties.MPSOne>
      <setting name="ContractPageTitle" serializeAs="String">
        <value />
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.MPSOne>
    <Brother.Tests.Selenium.Lib.Pages.OmniJoin.OmniJoinPageTitles>
      <setting name="HomePage" serializeAs="String">
        <value>OmniJoin Web Conferencing | Online Meetings | Brother UK - </value>
      </setting>
    </Brother.Tests.Selenium.Lib.Pages.OmniJoin.OmniJoinPageTitles>
    <Brother.Tests.Selenium.Lib.Properties.MPSTWOMAP>
      <setting name="PageTitle" serializeAs="String">
        <value>Brother Online</value>
      </setting>
      <setting name="NewProposalPageTitle" serializeAs="String">
        <value>Brother Online</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.MPSTWOMAP>
    <Brother.Tests.Selenium.Lib.Properties.Settings>
      <setting name="PromptText" serializeAs="String">
        <value>Brother Online</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.Settings>
    <Brother.Tests.Selenium.Lib.Properties.HomePages>
      <setting name="HomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.HomePages>
    <Brother.Tests.Selenium.Lib.Properties.SeleniumGlobal>
      <setting name="DriverIPAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="DriverPortNumber" serializeAs="String">
        <value>9134</value>
      </setting>
    </Brother.Tests.Selenium.Lib.Properties.SeleniumGlobal>
    <Brother.Test.Selenium.Lib.Properties.HomePages>
      <setting name="HomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.HomePages>
    <Brother.Test.Selenium.Lib.Properties.OmniJoinMap>
      <setting name="LandingPage" serializeAs="String">
        <value>Brother at your side</value>
      </setting>
      <setting name="FreeTrialPage" serializeAs="String">
        <value>Free Trial</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.OmniJoinMap>
    <Brother.Test.Selenium.Lib.Properties.OmnJoinMap>
      <setting name="StartFreeTrialButton" serializeAs="String">
        <value>start your free trial</value>
      </setting>
      <setting name="LandingPageTitle" serializeAs="String">
        <value>Brother at your side</value>
      </setting>
      <setting name="FreeTrialPageTitle" serializeAs="String">
        <value>Free Trial</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.OmnJoinMap>
    <Brother.Test.Selenium.Lib.Properties.SeleniumGlobal>
      <setting name="PhantomJSPath" serializeAs="String">
        <value>C:\Projects\brother-online\Brother\brother\Main\Brother.Test.Selenium\Drivers</value>
      </setting>
      <setting name="PhantomJS_IPAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="PhantomJS_PortNumber" serializeAs="String">
        <value>8080</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.SeleniumGlobal>
    <Brother.Test.Selenium.Lib.Properties.LandingPageMap>
      <setting name="StartFreeTrialButton" serializeAs="String">
        <value>start your free trial</value>
      </setting>
      <setting name="LandingPageTitle" serializeAs="String">
        <value>afd - Brother at your side</value>
      </setting>
      <setting name="FreeTrialPageTitle" serializeAs="String">
        <value>Free Trial</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.LandingPageMap>
    <Brother.Test.Selenium.Lib.Properties.BOLAccountMap>
      <setting name="HomePage" serializeAs="String">
        <value>Brother Online Home</value>
      </setting>
    </Brother.Test.Selenium.Lib.Properties.BOLAccountMap>
    <Brother.Test.Selenium.Lib.Pages.OmniJoin.LandingPage>
      <setting name="StartFreeTrialButton" serializeAs="String">
        <value>start your free trial</value>
      </setting>
    </Brother.Test.Selenium.Lib.Pages.OmniJoin.LandingPage>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ImpromptuInterface" publicKeyToken="0b1781c923b2975b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Brother_MM_UserDataEntities" connectionString="metadata=res://*/BrotherDB.csdl|res://*/BrotherDB.ssdl|res://*/BrotherDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BIELT348\SQL2008DEV;initial catalog=Brother_MM_UserData;user id=AutoTestLocalUser;password=@utoT3stL0c@lUs3r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>