<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Brother.Tests.Specs.Properties.SeleniumGlobal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Specs.Properties.BrotherMainMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Specs.BrotherTests" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Specs.Test_Steps.OmniJoin" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Brother.Tests.Specs.Test_Steps.OmniJoin.OmniJoin" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Brother.Tests.Specs.Properties.SeleniumGlobal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Tests.Specs.Properties.OmniJoinMainMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Brother.Tests.Specs.Properties.BrotherMainMap" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <stepAssembly assembly="Brother.Tests.Selenium.Lib" />
    </stepAssemblies>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="nunit" />
    
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.1.0" newVersion="3.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ImpromptuInterface" publicKeyToken="0b1781c923b2975b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Brother.Tests.Specs.Properties.SeleniumGlobal>
      <setting name="CurrentDriverType" serializeAs="String">
        <value>CH</value>
      </setting>
      <setting name="IEOptionsLog" serializeAs="String">
        <value>IEOptions.log</value>
      </setting>
      <setting name="BrotherEmailConfirmationUrl" serializeAs="String">
        <value>/Test/EmailConfirmationToken.aspx</value>
      </setting>
      <setting name="UsePhantomJsService" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="PhantomJSLoggingLevel" serializeAs="String">
        <value>ERROR</value>
      </setting>
    </Brother.Tests.Specs.Properties.SeleniumGlobal>
    <Brother.Tests.Specs.Properties.BrotherMainMap>
      <setting name="BrotherMainHomePageIE" serializeAs="String">
        <value>http://ie.brother.eu</value>
      </setting>
      <setting name="BrotherOnlineIEHomePage" serializeAs="String">
        <value>http://online.ie.brother.eu</value>
      </setting>
      <setting name="WebConferencingHomePage" serializeAs="String">
        <value>http://webconferencing.uk.brother</value>
      </setting>
    </Brother.Tests.Specs.Properties.BrotherMainMap>
    <Brother.Tests.Specs.BrotherTests>
      <setting name="BrotherOnlineHomePage_Local" serializeAs="String">
        <value>http://online.brother.co.uk.local/</value>
      </setting>
      <setting name="BrotherOnlineHomePage_QA" serializeAs="String">
        <value>http://online.uk.brotherqas.eu/</value>
      </setting>
      <setting name="BrotherOnlineHomePage_Test" serializeAs="String">
        <value>http://online.uk.brotherdv2.eu/</value>
      </setting>
      <setting name="BrotherOnlineHomePage_Dev" serializeAs="String">
        <value>http://online.uk.brotherdev.eu/</value>
      </setting>
    </Brother.Tests.Specs.BrotherTests>
    <Brother.Tests.Specs.Test_Steps.OmniJoin>
      <setting name="MainURL" serializeAs="String">
        <value>http://beta.webconferencing.uk.brotherdv2.eu/</value>
      </setting>
      <setting name="LandingPage" serializeAs="String">
        <value>FreeTrial</value>
      </setting>
    </Brother.Tests.Specs.Test_Steps.OmniJoin>
    <Brother.Tests.Specs.Test_Steps.OmniJoin.OmniJoin>
      <setting name="MainURL" serializeAs="String">
        <value>http://beta.webconferencing.uk.brotherdv2.eu/</value>
      </setting>
    </Brother.Tests.Specs.Test_Steps.OmniJoin.OmniJoin>
  </userSettings>
  <applicationSettings>
    <Brother.Tests.Specs.Properties.SeleniumGlobal>
      <setting name="DriverIPAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="DriverPortNumber" serializeAs="String">
        <value>9134</value>
      </setting>
    </Brother.Tests.Specs.Properties.SeleniumGlobal>
    <Brother.Tests.Specs.Properties.OmniJoinMainMap>
      <setting name="MainURL" serializeAs="String">
        <value>http://beta.webconferencing.uk.brotherdv2.eu/</value>
      </setting>
      <setting name="LandingPage" serializeAs="String">
        <value>FreeTrial</value>
      </setting>
    </Brother.Tests.Specs.Properties.OmniJoinMainMap>
    <Brother.Tests.Specs.Properties.BrotherMainMap>
      <setting name="BrotherOnlineHomePageBase" serializeAs="String">
        <value>http://online.uk.brother</value>
      </setting>
    </Brother.Tests.Specs.Properties.BrotherMainMap>
  </applicationSettings>
  <appSettings file="App.config.local">
    <add key="BrotherOnlineHomePage_DefaultPage" value="http://online.uk.brother.eu" />
    <add key="BrotherMainSiteHomePage_DefaultPage" value="http://uk.brother.eu" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- CommandLineSettings -->
    <!-- 
    These values are used to simulate command line parameters when tests are run 
    from within VS during development or to provide necessary defaults if run from
    the command line
    -->
    <!-- DefaultRuntimeEnvironment valid values are DEV, TEST, UAT, PROD -->
    <add key="CommandLineSettings.DefaultRuntimeEnvironment" value="UAT" /> 
    <!-- DefaultLoggingLevel valid values are DEBUG, INFO, WARNING, FAILURE -->
    <add key="CommandLineSettings.DefaultLoggingLevel" value="DEBUG" />
    <add key="CommandLineSettings.DefaultCulture" value="en-GB" />
    <!-- DefaultBaseUrl should only be used during development to force a specific url -->
    <!-- and bypasses the behaviour of the default url resolver -->
    <!-- Generally the command line parameter, base_url, will only be used to run PRODUCTION -->
    <!-- smoke tests against a specific server e.g. p1.online.brother.co.uk -->
    <!--<add key="CommandLineSettings.DefaultBaseUrl" value="https://p1.online.brother.co.uk"/> -->
    <!-- SpecificDealerUsername and SpecificDealerPassword can be used to bypass the -->
    <!-- behaviour of the default user resolver -->
    <!--<add key="CommandLineSettings.SpecificDealerUsername" value="MPS-BUK-DEV-T3-Dealer1@brother.co.uk"/>
    <add key="CommandLineSettings.SpecificDealerPassword" value="UKdealer1"/>-->
    <!-- RuntimeSettings - timeout values are in seconds-->
    <add key="RuntimeSettings.DefaultDownloadTimeout" value="60" />
    <add key="RuntimeSettings.DefaultFindElementTimeout" value="30" />
    <add key="RuntimeSettings.DefaultPageLoadTimeout" value="10" />
    <add key="RuntimeSettings.DefaultPageObjectTimeout" value="10" />
    <add key="RuntimeSettings.DefaultDeviceSimulatorTimeout" value="60" />
    <add key="RuntimeSettings.DefaultRemoteWebDriverTimeout" value="30" />
    <add key="RuntimeSettings.DefaultRetryCount" value="10" />
    <add key="RuntimeSettings.DefaultAPIResponseTimeout" value="30" />
    <add key="RuntimeSettings.DefaultSerialNumberOffset" value="00" />
    <add key="RuntimeSettings.DefaultInvoiceGenerationTimeout" value="20" />
    <add key="RuntimeSettings.DefaultElementNotPresentTimeout" value="3" />
    <add key="RuntimeSettings.DefaultWaitForItemTimeout" value="60" />
    <!--
    <add key="RuntimeSettings.DefaultType3DealerUsername" value="MPS-BUK-UAT-Dealer9@brother.co.uk"/>
    <add key="RuntimeSettings.DefaultType3DealerPassword" value="UKdealer9"/>
    -->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Brother_MM_UserDataEntities" connectionString="metadata=res://*/BrotherDB.csdl|res://*/BrotherDB.ssdl|res://*/BrotherDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BIELT348\SQL2008DEV;initial catalog=Brother_MM_UserData;user id=AutoTestLocalUser;password=@utoT3stL0c@lUs3r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>